body {
    background-color: black;
    color: whitesmoke;
}

h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
}

.movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    width: 50%;
}

.movie img {
    width: 70%;
    height: auto;
    border-radius: 5px;
}
